MyPass.xcodeproj/project.xcworkspace/xcshareddata/MyPass.xccheckout
MyPass.xcodeproj/xcuserdata/kevin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyPass.xcodeproj/xcuserdata/kevin.xcuserdatad/xcschemes/MyPass.xcscheme
MyPass.xcodeproj/xcuserdata/kevin.xcuserdatad/xcschemes/xcschememanagement.plist
